body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url("n.jpg");

}

.box{
width: 300px;
padding: 40px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background: #191919;
text-align: center;
}

.box{
	color: #F9D805;
	text-transform: uppercase;
}
.box input[type="text"],.box input[type="password"]{
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #F29B0C;
	padding: 14px 10px;
	width: 200px;
	color: white;
	outline: none;
	border-radius: 24px  ;
    transition: 0.8s;
}

.box input[type="text"]:hover,.box input[type="password"]:hover{
	width: 280px;
	border-color: #2ecc71;
	background: linear-gradient(violet, black);
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
	width: 280px;
	border-color: #2ecc71;
	background: linear-gradient(violet, black);
}

.box input[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px  ;
	transition :0.5sec;
	cursor: pointer;
}
.box input[type="submit"]:hover{
	background: linear-gradient(violet, black);
}
.box input[type="submit"]:focus{
	background: linear-gradient(violet, black);
}













